#grid {
    width: 1000px;
    height: 500px;
    background-color: black;
}

.grid-element {
    background-color: gray;
    margin: .05%;
    width: .9%;
    height: 1.8%;
    float: left;
}

.active {
    background-color: yellow;
}